*/{
    margin: 0;
    padding: 0
}
body{
    background: linear-gradient(to right, white 60%, #d6bda6 40%);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
}
/* primer div */

/*clase de la marca*/
.marca{
    font-size: 2.1rem;
    letter-spacing: -4px;
    margin: 0.2em 2em 0.4em 0.5em;
}
/* segundo div */
.menus{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem; 
    width: 50em;
}
/*Menu Home*/
.uno {
    color:#2A2A2A ;
    padding: 1em;
    margin-right: 2em;
}    
/* Menu Shop */
.dos{
    color:#2A2A2A ;
    padding: 1em;
    margin-right: 2em;
}
/* Menu Blog */
.tres{
    color:#2A2A2A;
    padding: 1em;
    margin-right: 2em;
}
/* Menu About */
.cuatro{
    color:#2A2A2A;
    padding: 1em;
}
/*clase del 3er div*/
.divtres{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1em ;
}
/* propi. para cada icono */
/* propi. Lupa */
.lupa{
    width: 1em;
    margin-right: 1em;
    color: black;
}
/* propi.bolsa */
.bolsita{
    width: 1.1em;
    margin-right: -1em;
    color: black;
}
/* propi. circulo */
.circulo{
    width: 0.6em;
    background-color: aliceblue;
    border-radius: 20px;
    position: relative;
    top: -5px;
    left: 8px;
}
/* propi.linea */
.lineavertical{
    width: 3em;
    margin-top: 0.9em;
    margin-left: 0.2em;
    color: rgba(95, 95, 95, 0.795);
}
/* propiedades para los sign */
.signuno {
    color: #2A2A2A;
    margin-right: 1em;
    font-size: 0.8rem;
}
.signdos{
    color:#2A2A2A ;
    border: 1.5px solid black;
    padding: 0.3em 1em ;
    font-size: 0.8rem;
}
/* section */
h1{
font-size: 4.8rem;
color:rgba(0, 0, 0, 0.959);
width: 10em;
padding: 0.5em;
margin-top: 1em;
margin-bottom: 0.5em;
letter-spacing: 0.5px;
line-height: 90px;
}
/* shopnow */
.shop{
border: 2px solid  #2A2A2A;
padding: 0.5em 1.5em ;
margin-left: 2.7em;
font-size: 1.2rem;
color: #2A2A2A;
text-align: center;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
}